<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
	scribe is an attempt to provide an easier-to-use home for submissions of reports from the field. Forms will be delivered to authorized users. Completed forms can be reviewed by approved users. Reports can be generated and distributed.
</p>