<div class="center hero-unit">
	<h1>scribe</h1>
	<p>Here's the home page.</p>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org' %>